<div *ngIf="apiLoaded | async">
  <google-map [center]="center" [zoom]="12" [width]="'100%'" [height]="700" (mapClick)="createMarker($event)">
    <map-marker #marker='mapMarker' [position]=coor>
    </map-marker>
  </google-map>
  <label>Name:</label>
  <input type="text" [(ngModel)]="nombre" name="nombre"> <br>
  <label for="category">Elige una categoría:</label><br>
  <select [(ngModel)]="categoria" name="category" id="category">
    <option value="Gofre">Gofre</option>
    <option value="Cafe">Cafe</option>
    <option value="Magdalena">Magdalena</option>
    <option value="Magdalena">Magdalena</option>
    <option value="Gominolas">Gominolas</option>
    <option value="Magdalena">Magdalena</option>
    <option value="Otro">Otro</option>
  </select> <br>
  <button (click)="savePerdido()">Save</button> <br>

  <div *ngIf="perdidos.length != 0">
    perdidos
    <div *ngFor="let per of perdidos">
      {{per.id}}
      {{per.usuario}}
      {{per.lat}}
      {{per.lng}}
      {{per.categoria}}
    </div>
  </div>
  <div *ngIf="encontrados.length != 0">
    encontrados
    <div *ngFor="let enc of encontrados">
      {{enc.id}}
      {{enc.usuario}}
      {{enc.lat}}
      {{enc.lng}}
      {{enc.categoria}}
    </div>
  </div>
</div>
